.idea/
*.DS_Store
vagrant-ansiblecommands/.vagrant/
vagrant-ansiblecommands/app/
vagrant-ansiblecommands/ansible_ec2.txt
vagrant-ansiblecommands/ec2.ini
vagrant-ansiblecommands/ec2.py
vagrant-ansibleplaybook/.vagrant/
vagrant-ansibleplaybook/app/
