.idea/
*.DS_Store
1-ansiblecommands/.vagrant/
1-ansiblecommands/app/
1-ansiblecommands/ansible_ec2.txt
1-ansiblecommands/ec2.ini
1-ansiblecommands/ec2.py
2-ansibleplaybook/.vagrant/
vagrant-ansible-docker/
vagrant-ansible-docker/.vagrant/
vagrant-tower/.vagrant/
